//colors

$green: #43A96E;
$green-light: #90CAA8;



$dark: #102631;
$text: #000000;

$orange: #F77044;

$gray: #F9F9F9;
$gray-light: #ECECEC;
$gray-thin: #E5E5E5;


// breakpoints

$bp-sm: 575px,;
$bp-md: 767px;
$bp-lg: 1023px;
$bp-xl: 1365px;
$bp-xxl: 1600px;

