

html {
    min-height: 100%;
    font-size: 16px;
    box-sizing:border-box;
}

body {
    width: 100%;
    min-width: 320px;
    line-height: 1.42;
    -webkit-font-smoothing:antialiased;
    scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: $dark;
    background-color: #ffffff;
	overflow-x: hidden;
}


*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

audio,canvas,iframe,img,svg,video {vertical-align: middle;}

textarea {resize: none;outline: none;
}

input, button {outline: none;}
button:focus {outline: none;}


img {
    display: block;
}

input {
    &::-ms-clear {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

p {
    margin-top: 0;
}


a:not([class]){
    color: $dark;
    text-decoration: none;

    &:hover {
        @media (hover:hover) {
            color: $green;
        }
    }
}